.static01 {
  margin-left: 15px;
  position: absolute;
  width: 85px;
  height: 85px;
  background: white;
}

.active01 {
  margin-left: 15px;

  width: 85px;
  height: 85px;
}

.div04:hover .static01 {
  opacity: 0;
}

.div03:hover .static01 {
  opacity: 0;
}

.static {
  margin-left: 15px;
  position: absolute;
  width: 100px;
  height: 100px;
}

.active1 {
  margin-left: 15px;

  width: 100px;
  height: 100px;
}

.div01:hover .static {
  opacity: 0;
}

.div02:hover .static {
  opacity: 0;
}

.btn_2 {
  margin-left: 30px;
}

.inline-photo1 {
  opacity: 0;
  /*transform: translateY(4em) rotateZ(0deg);*/
  transition: transform 4s 0.2s cubic-bezier(0, 1, 0.3, 1) /*ease-in-out*/,
    opacity 0.5s 0.3s ease-in-out;
  will-change: transform, opacity;
}

.inline-photo1.is-visible {
  opacity: 1;
  transform: rotateZ(0deg);
}

.inline-photo {
  opacity: 0;
  /*transform: translateY(4em) rotateZ(-6deg);*/
  transition: transform 4s 0.2s cubic-bezier(0, 1, 0.3, 1) /*ease-in-out*/,
    opacity 0.5s 0.3s ease-in-out;
  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(0deg);
}

body {
  /*font-family: Rubik;*/
}

/* Menu */
.bg-dark {
  background-color: #2f3a5b !important;
}

.tdyellow {
  color: #ffc84a;
}

.nav-items {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;

  /* identical to box height, or 212% */

  text-align: center;

  color: #ffffff;
}

/* end - menu*/
.active_button {
  border-radius: 4px 0px;
  padding: 3px 20px !important;
  font-weight: 700;
  background: #ffc84a;
  color: #2f395b !important;
  border: 1px solid #ffc84a;
  margin-left: 15px;
}

.active_button:hover {
  border-radius: 4px 0px;
  padding: 3px 20px !important;
  font-weight: 700;
  background: rgb(255, 255, 255);
  color: #2f395b !important;
  margin-left: 15px;
}

.s_button {
  border-radius: 5px 0px;
  background: #ffc84a;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  color: #2f395b !important;
}

.s_button:hover {
  border-radius: 5px 0px;
  background: rgb(255, 255, 255);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 700;
  color: #2f395b !important;
}

.sp_button {
  background: #ffc84a;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
  font-weight: 500;
  color: #313a5a !important;

  border-radius: 5px;
}

.sp_button:hover {
  text-decoration: none;
  background: #2f3a5b;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
  font-weight: 500;
  color: white !important;

  border-radius: 5px;
}

.sp1_button {
  background: #17254f;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
  font-weight: 500;
  color: white !important;
}

.button {
  border-radius: 5px 0px;
}

.button:hover {
  border-radius: 4px 0px;
  font-weight: 300 !important;
  background: #2f395b;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  border: 1px solid #ffc84a;
  color: #ffc84a !important;
  margin-right: 5px;
}

.jumbotron-odi-hero {
  padding: 0rem 0rem;
  position: relative;
  max-width: 100%;
}

.jumbotron-odi-dark {
  max-width: 100%;
  padding: 0px;
}

.jumbotron-overlay {
  height: 100vh;
  padding: 0px 0;
  color: #fff;
}

.jumbotron-padding {
  padding-top: 6rem;
}

.btn-circle {
  border-radius: 30px;
}

.latest-news {
  border-bottom: 0.25rem solid transparent;
  border-bottom-color: #007bff;
}

/* Tabs*/

section .section-title {
  text-align: center;
  color: #192646;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#tabs {
  /*background: #007b5e;*/
  color: #192646;
}

#tabs h6.section-title {
  color: #192646;
}

nav {
  margin: 0p 50px !important;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white !important;
  background-color: #192646;
  border-color: transparent transparent #192646;
  border-bottom: 4px solid !important;
  font-size: 14px;
  font-weight: bold;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid white;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #192646;
  font-size: 14px;
  letter-spacing: 1.5px;
}

#tabs .nav-link:hover {
  background: #3b4665;
  color: white !important;
}

.p-43 {
  padding: 0px 30px !important;
  letter-spacing: 1.5px !important;
  font-weight: 300 !important;
  border: 1px solid #313a5a;
  margin-right: 5px;
}

.p-43:hover {
  font-weight: 300 !important;
  border: 1px solid #ffc84a;
}

.p-44 {
  padding: 0px 20px !important;
  letter-spacing: 1.5px !important;
  font-weight: 300 !important;
}

.p-44:hover {
  color: #ffc84a !important;

  padding: 0px 20px !important;
  letter-spacing: 1.5px !important;
  font-weight: 300 !important;
}

#accordion-style-1 h1,
#accordion-style-1 a {
  color: white;
}

#accordion-style-1 .btn-link {
  font-weight: 400;
  color: white;
  background-color: none;
  text-decoration: none !important;

  font-weight: bold;
}

#accordion-style-1 .card-body {
  border-top: 2px solid none;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main {
  display: none;
}

#accordion-style-1 .card-header .btn .fa.main {
  background: none;
  padding: 13px 11px;
  color: #ffffff;
  width: 35px;
  height: 41px;
  position: absolute;
  left: -1px;
  top: 10px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display: block;
}

.card-header .btn[aria-expanded="true"] {
  font-size: 28px;
  border-bottom: 3px solid #ffc84a;
  width: 22%;
}

.card {
  background: none;
  border: none;
}

.card_title {
  color: white;
}

.card-header {
  background-color: #f8f9fa00 !important;
  border-bottom: none;
}

.chr {
  width: 15%;
  margin-left: 27px;
  /* justify-content: left; */
  /* padding-left: 0px; */
  border: 3px solid #ffc84a;
}

.fam {
  color: yellow;
  font-size: 14px;
  padding-right: 15px;
}

.Work-process {
  background-color: rgba(248, 249, 252);
}

.work {
  text-align: left;
}

.oo1:first-child {
  margin-left: 50px;
}

.head1 {
  color: rgba(38, 42, 76);
  font-size: 60px;
  margin-left: 70px;
  font-weight: 620;
  margin-top: -90px;
}

.div02,
.div04,
.div01,
.div03 {
  padding: 35px 0px 80px 0px !important;
  width: 421px;
  height: auto;
  background-color: white;
  text-align: left;
  margin-left: 80px;
  margin-right: 00px;
  box-shadow: 3px 3px 5px 4px #cccccc4f;
  margin-top: 20px;
  border-radius: 10px;
}

.div02:hover,
.div04:hover,
.div01:hover,
.div03:hover {
  box-shadow: 6px 6px 10px #2f395b38;
}

.div01 {
  margin-top: 70px;
}

.div01:hover {
  box-shadow: 2px black;
}

.div01,
.div03 {
  margin-left: 40px;
  width: 400px !important;
}

.div03 img,
.div01 img {
  margin-top: 60px;
}

.div02 img,
.div04 img {
}

.div04 {
  height: 530px;
}

.heading02,
.heading03,
.img1 {
  color: rgba(38, 42, 76);
  font-size: 57px;
  font-weight: 300;
  margin-left: 30px;
  text-align: left;
}

.h2:first-child::after,
.h4::after {
  display: block;
  background-color: rgba(38, 42, 76);
  height: 3px;
  width: 220px;
  content: " ";
  margin-top: 28px;
  margin-bottom: 39px;
  text-align: initial;
  margin-left: 390px;
}

.heading03 {
  padding: 36px 0px 13px 0px;
  font-weight: 600;
  font-size: 154%;
}

.p02 {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0.5px;
  text-align: left;
  margin: 0px 30px;
  color: #6b6b6b;
  line-height: 1.98rem;
}

.po2::before {
  display: block;
  background-color: rgba(38, 42, 76);
  height: 3px;
  width: 220px;
  content: " ";
  margin-top: 15px;
  margin-bottom: -20px;
  text-align: initial;
  margin-left: 390px;
}

.p03 {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0.5px;
  text-align: left;
  margin: 0px 30px;
  color: #6b6b6b;
  line-height: 1.98rem;
}

.po3::before {
  display: block;
  background-color: rgba(38, 42, 76);
  height: 3px;
  width: 220px;
  content: " ";
  margin-top: 15px;
  margin-bottom: -20px;
  text-align: initial;
  margin-left: -167px;
  z-index: 0;
}

a {
  text-decoration: none;

  line-height: 165%;
}

.section-clients {
  background-color: rgba(248, 249, 252);
  padding: 80px 0px;
  margin-top: -100px;
}

.clie {
  font-size: 35px;
  font-weight: 600;
}

.bob {
  background: #313a5a !important;
}

.bob1 {
  padding: 60px 90px 0px 190px;
}

.ppo {
  margin-top: 150px;
}

.bob2 {
  background: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.31);
  border-radius: 10px;
  margin-top: -40%;
  padding: 50px 60px;
}

.oop1 {
  color: rgb(110, 110, 110);
  font-size: 40px;
  font-weight: 300;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  float: center;
  background: linear-gradient(to bottom, #1475e2 0%, #28adec 100%);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  border-radius: 5px;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

textarea {
  width: 100%;
  padding: 17px 16px;
  background-color: #f1f1f1;
  border: none;
  margin-top: 10px;
}

.popo2 {
  color: #5b6c94;
}

.list1 {
  color: #5b6c94;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  font-size: 20px;
}

.popop {
  background: #2f395b;
  overflow: hidden;
}

.tex1 {
  font-size: 33px;
  color: white;
  font-weight: 500;
}

.hr_1 {
  border-bottom: 4px solid #f9c849;
  width: 40%;
  margin-right: 60%;
}

.box1 {
  padding: 150px 140px;
}

.tax2 {
  font-size: 19px;
  line-height: 2.4rem;
  color: rgb(148, 148, 148);
}

.a_11 {
  background: #242f52;
  padding: 10px 18px;
  color: white;
  margin-left: 0px;
}

.a_11:hover {
  background: #818aac;
  padding: 10px 18px;
  color: #242f52;
  text-decoration: none;
  margin-left: 0px;
}

.too1 {
  float: right;
}

.a_2 {
  margin-top: 30px;
  margin-left: 0px;
  font-size: 20px;
  color: white !important;
  background: #2f395b;
  border: none;
}

#myDIV1 {
  display: block;
}

#id2 {
  border: none;
}

#id1 {
  border: none;
}

#id3 {
  border: none;
}

#id1 {
  margin-top: -100px !important;
}

/* Slick styles */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  width: 120px;
  height: 150px;
  object-fit: contain;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@media (max-width: 600px) {
  div.bg-dark {
    padding-top: 2em;
  }
}
